@import "node_modules/bootstrap/scss/bootstrap";


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #6f7174;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

